gen
target
.gradle
build
.idea
maven-repository
*.iml
local.properties
mvn-clone
*.keystore
.project
.settings
.classpath
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea